.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #e3e3e3;
}

.navbar-left {
  height: 85px;
  width: 300px;
  background-color: #fafafa;
  color: #0085ff;
  border-right: 2px solid #e3e3e3;
}

.navbar-left h2 {
  font-size: 26px;
  padding: 1.5rem 0 0 2.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  padding-right: 2rem;
}

.navbar-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
}

.navbar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
